<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Slam Dunk Analytics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/css/contact.css" media="screen">
  <link rel="stylesheet" href="../static/css/main.css" media="screen">
  <link rel="stylesheet" href="../static/css/index.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script class="u-script" type="text/javascript" src="../static/js/main.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../static/js/plotly.js" defer=""></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>
  <script type="text/javascript" src="../static/js/app.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Slam Dunk Analytics</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#ml">ML</a></li>
        <li><a href="#predictions">PREDICTIONS</a></li>
        <li><a href="#visualizations">VISUALIZATIONS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1><img src="../static/logo.png"></h1> 
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About</h2><br>
      <h4>With the advent of Moneyball, sports organizations are all using analytics to give themselves a greater analytical edge. Building through the draft is one of the best ways for an NBA organization to go from basement-dweller to a contender in their respective sport. <br><br>
      Our Slam Dunk Analytics machine learning model helps teams analyze draft prospects so that they can make the best use of their draft capital.</p>
      <br><button class="btn btn-default btn-lg"><a href="#contact">Get in Touch</a></button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="../static/basketballheart.png" height="250px"></span>
    </div>
    <div class="col-sm-8">
      <h2>Motivation</h2><br>
      <h4>We are huge basketball fans and have seen many teams (sometimes our own) suffer through drafts with mixed results. Drafts picks, both good and bad, create a cascading effect for an organization's success that can be felt for years to come.<br><br>
    
      <p>To increase their chances of draft success, we offer our analytical skills and machine learning model to teams looking for an analytical edge when making their selection.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="ml" class="container-fluid text-center">
  <h2>Machine Learning</h2>
  <h4>How it works</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <img src="../static/brain.png" height="50px">
      <h4>LEARN</h4>
      <p>Learns 1993-2020 NBA Draft data</p>
    </div>
    <div class="col-sm-4">
      <img src="../static/target-orange2.png" height="50px">
      <h4>DRAFT</h4>
      <p>Predicts draft picks using trained model</p>
    </div>
    <div class="col-sm-4">
      <img src="../static/trophy-orange.png" height=50px>
      <h4>WIN</h4>
      <p>Use insight to score big in the draft</p>
    </div>
  </div>
  <br><br>
</div>

<!-- Container (Portfolio Section) -->
<div id="predictions" class="container-fluid text-center bg-grey">
  <h2>Predictions</h2><br>
  <h4>Picks we accurately predicted</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/fultz.jpeg" alt="Markelle Fultz" width="400" height="300">
        <p><strong>Markelle Fultz</strong></p>
        <p>The #1 Overall Pick of 2017</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/zion.jpg" alt="Zion Williamson" width="400" height="300">
        <p><strong>Zion Williamson</strong></p>
        <p>The #1 Overall Pick of 2019</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/herro.jpg" alt="Tyler Herro" width="200" height="300">
        <p><strong>Tyler Herro</strong></p>
        <p>The 13th pick of 2019</p>
      </div>
    </div>
  </div><br>
  
  <h2>What experts say about Data Analytics in sports</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"The bottom line is that sports are about decisions-making, and the science shows over and over that if you use objective data and analysis in decision making, you make better decisions."<br><br><span>Daryl Morey, President of Basketball Operations, Philadelphia 76ers</span></h4>
      </div>
      <div class="item">
        <h4>"If you’re not thinking big enough, that’s almost as bad as not having the proper analytical thought behind your idea."<br><br><span>Steve Ballmer, Former Microsoft CEO and current owner of LA Clippers</span></h4>
      </div>
      <div class="item">
        <h4>"Your analytics department will have to learn AI, machine learning, deep learning, neural networking, etcetera, and be good at that."<br><br><span>Mark Cuban, Owner, Dallas Mavericks</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="visualizations" class="container-fluid">
  <div class="text-center">
    <h2>Visualizations</h2>
    <h4>Comparing stats of different draft classes</h4>
  </div>
  <select name="Graph" class="btn btn-secondary dropdown-toggle" type="button" id="button1"
  aria-labelledby="dropdownMenuButton2" onchange="filterdata(this.value)">
  <option value="none" href="#" selected>Graphs</option>
  <option value="radar" href="#">Radar chart</option>
  <option value="other" href="#">Stacked</option>
  <option value="other" href="#">Other</option>
</select>
<br><br>
  <div class="row slideanim">
    
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>2017</h1>
        </div>
        <div id = "stacked1"></div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>2018</h1>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>2019</h1>
        </div>
      </div>      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-12", id="draftyear1">

    </div>
    <div class="col-sm-4 col-xs-12", id="draftyear2">

    </div>
    <div class="col-sm-4 col-xs-12", id="draftyear3">

    </div>
  </div>

<div class="row slideanim">
    
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>2017</h1>
        </div><div class="table-responsive">
  <table class=" table table-striped">
      <thead>
    <tr style="text-align: right;">
      <th>Round</th>
      <th>Pick</th>
      <th>Predicted Player</th>
      <th>Actual Player</th>
      <th>Delta</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Markelle Fultz</td>
      <td>Markelle Fultz</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Malik Monk</td>
      <td>Lonzo Ball</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>Jordan Washington</td>
      <td>Jayson Tatum</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>Eric Mika</td>
      <td>Josh Jackson</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>Lonzo Ball</td>
      <td>De'Aaron Fox</td>
      <td>-3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>Jayson Tatum</td>
      <td>Jonathan Isaac</td>
      <td>-3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>Demetrius McReynolds</td>
      <td>Lauri Markkanen</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>De'Aaron Fox</td>
      <td>Frank Ntilikina</td>
      <td>-3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9</td>
      <td>Jonathan Isaac</td>
      <td>Dennis Smith Jr.</td>
      <td>-3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>Lauri Markkanen</td>
      <td>Zach Collins</td>
      <td>-3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>11</td>
      <td>Josh Jackson</td>
      <td>Malik Monk</td>
      <td>-7.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>Zach Collins</td>
      <td>Luke Kennard</td>
      <td>-2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13</td>
      <td>Luke Kennard</td>
      <td>Donovan Mitchell</td>
      <td>-1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>14</td>
      <td>Donovan Mitchell</td>
      <td>Bam Adebayo</td>
      <td>-1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>15</td>
      <td>Brent Calhoun</td>
      <td>Justin Jackson</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>16</td>
      <td>Emile Blackman</td>
      <td>Justin Patton</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>Justin Patton</td>
      <td>D.J. Wilson</td>
      <td>-1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>18</td>
      <td>Mike Sagay</td>
      <td>T.J. Leaf</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>19</td>
      <td>D.J. Wilson</td>
      <td>John Collins</td>
      <td>-2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20</td>
      <td>Isaiah Briscoe</td>
      <td>Harry Giles</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>21</td>
      <td>John Collins</td>
      <td>Terrance Ferguson</td>
      <td>-2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>22</td>
      <td>Doyin Akintobi-Adeyeye</td>
      <td>Jarrett Allen</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>23</td>
      <td>Martez Harrison</td>
      <td>OG Anunoby</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>24</td>
      <td>Harry Giles</td>
      <td>Tyler Lydon</td>
      <td>-4.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>25</td>
      <td>T.J. Cromer</td>
      <td>Anžejs Pasečņiks</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>26</td>
      <td>Jarrett Allen</td>
      <td>Caleb Swanigan</td>
      <td>-4.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>27</td>
      <td>Tim Coleman</td>
      <td>Kyle Kuzma</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>28</td>
      <td>Andrew White</td>
      <td>Tony Bradley</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>29</td>
      <td>OG Anunoby</td>
      <td>Derrick White</td>
      <td>-6.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>30</td>
      <td>Tyler Lydon</td>
      <td>Josh Hart</td>
      <td>-6.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>31</td>
      <td>Devin Robinson</td>
      <td>Frank Jackson</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>32</td>
      <td>Yohanny Dalembert</td>
      <td>Davon Reed</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>33</td>
      <td>Caleb Swanigan</td>
      <td>Wesley Iwundu</td>
      <td>-7.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>34</td>
      <td>Kyle Kuzma</td>
      <td>Frank Mason III</td>
      <td>-7.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>35</td>
      <td>Donte McGill</td>
      <td>Ivan Rabb</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>36</td>
      <td>Andris Misters</td>
      <td>Jonah Bolden</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>37</td>
      <td>Tony Bradley</td>
      <td>Semi Ojeleye</td>
      <td>-9.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>38</td>
      <td>Jonathan Williams</td>
      <td>Jordan Bell</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>39</td>
      <td>Miles Bowman</td>
      <td>Jawun Evans</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>40</td>
      <td>Justin Robinson</td>
      <td>Dwayne Bacon</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>41</td>
      <td>Josh Hart</td>
      <td>Tyler Dorsey</td>
      <td>-11.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>42</td>
      <td>Marcus Romain</td>
      <td>Thomas Bryant</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>43</td>
      <td>Wesley Iwundu</td>
      <td>Isaiah Hartenstein</td>
      <td>-10.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>44</td>
      <td>Prince Okoroh</td>
      <td>Damyean Dotson</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>45</td>
      <td>Semi Ojeleye</td>
      <td>Dillon Brooks</td>
      <td>-8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>46</td>
      <td>Jordan Bell</td>
      <td>Sterling Brown</td>
      <td>-8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>47</td>
      <td>Jawun Evans</td>
      <td>Ike Anigbogu</td>
      <td>-8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>48</td>
      <td>Eric Eaves</td>
      <td>Sindarius Thornwell</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>49</td>
      <td>Dwayne Bacon</td>
      <td>Vlatko Čančar</td>
      <td>-9.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>50</td>
      <td>Tyler Dorsey</td>
      <td>Mathias Lessort</td>
      <td>-9.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>51</td>
      <td>Elijah Wilson</td>
      <td>Monte Morris</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>52</td>
      <td>Damyean Dotson</td>
      <td>Edmond Sumner</td>
      <td>-8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>53</td>
      <td>Dillon Brooks</td>
      <td>Kadeem Allen</td>
      <td>-8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>54</td>
      <td>Sterling Brown</td>
      <td>Alec Peters</td>
      <td>-8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>55</td>
      <td>Monte Morris</td>
      <td>Nigel Williams-Goss</td>
      <td>-4.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>56</td>
      <td>Edmond Sumner</td>
      <td>Jabari Bird</td>
      <td>-4.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>57</td>
      <td>Leyton Hammonds</td>
      <td>Sasha Vezenkov</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>58</td>
      <td>Nigel Williams-Goss</td>
      <td>Ognjen Jaramaz</td>
      <td>-3.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>59</td>
      <td>Karachi Edo</td>
      <td>Jaron Blossomgame</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>60</td>
      <td>Jarred Jones</td>
      <td>Alpha Kaba</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table></div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>2018</h1>
        </div><div class="table-responsive">
          <table class=" table table-striped">
              <thead>
            <tr style="text-align: right;">
              <th>Round</th>
              <th>Pick</th>
              <th>Predicted Player</th>
              <th>Actual Player</th>
              <th>Delta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>1</td>
              <td>Shai Gilgeous-Alexander</td>
              <td>Deandre Ayton</td>
              <td>10.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>2</td>
              <td>Kevin Knox</td>
              <td>Marvin Bagley III</td>
              <td>7.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>3</td>
              <td>Jaren Jackson Jr.</td>
              <td>Luka Dončić</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>4</td>
              <td>Davion Turner</td>
              <td>Jaren Jackson Jr.</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>5</td>
              <td>Mohamed Bamba</td>
              <td>Trae Young</td>
              <td>1</td>
            </tr>
            <tr>
              <th>1</th>
              <td>6</td>
              <td>Justin Tillman</td>
              <td>Mohamed Bamba</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>7</td>
              <td>Ben Lammers</td>
              <td>Wendell Carter Jr.</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>8</td>
              <td>Deandre Ayton</td>
              <td>Collin Sexton</td>
              <td>-7.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>9</td>
              <td>Trae Young</td>
              <td>Kevin Knox</td>
              <td>-4.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>10</td>
              <td>Gary Trent</td>
              <td>Mikal Bridges</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>11</td>
              <td>Collin Sexton</td>
              <td>Shai Gilgeous-Alexander</td>
              <td>-3.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>12</td>
              <td>Jalin Hart</td>
              <td>Miles Bridges</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>13</td>
              <td>Johnny Hamilton</td>
              <td>Jerome Robinson</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>14</td>
              <td>Mikal Bridges</td>
              <td>Michael Porter Jr.</td>
              <td>-4.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>15</td>
              <td>Nick Dixon</td>
              <td>Troy Brown Jr.</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>16</td>
              <td>Miles Bridges</td>
              <td>Zhaire Smith</td>
              <td>-4.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>17</td>
              <td>Kentrell Barkley</td>
              <td>Donte DiVincenzo</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>18</td>
              <td>Donte DiVincenzo</td>
              <td>Lonnie Walker</td>
              <td>-1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>19</td>
              <td>Paris Collins</td>
              <td>Kevin Huerter</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>20</td>
              <td>Kevin Huerter</td>
              <td>Josh Okogie</td>
              <td>-1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>21</td>
              <td>Averyl Ugba</td>
              <td>Grayson Allen</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>22</td>
              <td>Chandler Hutchison</td>
              <td>Chandler Hutchison</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>23</td>
              <td>Desmond Williams</td>
              <td>Aaron Holiday</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>24</td>
              <td>Aaron Holiday</td>
              <td>Anfernee Simons</td>
              <td>-1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>25</td>
              <td>Zach Thomas</td>
              <td>Moritz Wagner</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>26</td>
              <td>Luke Meikle</td>
              <td>Landry Shamet</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>27</td>
              <td>Landry Shamet</td>
              <td>Robert Williams</td>
              <td>-1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>28</td>
              <td>Thomas Welsh</td>
              <td>Jacob Evans</td>
              <td>30.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>29</td>
              <td>Darral Willis</td>
              <td>Džanan Musa</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>30</td>
              <td>Jacob Evans</td>
              <td>Omari Spellman</td>
              <td>-2.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>31</td>
              <td>Omari Spellman</td>
              <td>Elie Okobo</td>
              <td>-1.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>32</td>
              <td>Jevon Carter</td>
              <td>Jevon Carter</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>33</td>
              <td>Anas Mahmoud</td>
              <td>Jalen Brunson</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>34</td>
              <td>Jalen Brunson</td>
              <td>Devonte' Graham</td>
              <td>-1.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>35</td>
              <td>Andre Spight</td>
              <td>Melvin Frazier</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>36</td>
              <td>Devonte' Graham</td>
              <td>Mitchell Robinson</td>
              <td>-2.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>37</td>
              <td>Daryl Macon</td>
              <td>Gary Trent Jr.</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>38</td>
              <td>Melvin Frazier</td>
              <td>Khyri Thomas</td>
              <td>-3.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>39</td>
              <td>William Lee</td>
              <td>Isaac Bonga</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>40</td>
              <td>Joseph Lopez</td>
              <td>Rodions Kurucs</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>41</td>
              <td>Frank Booker</td>
              <td>Jarred Vanderbilt</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>42</td>
              <td>Sam Burkart</td>
              <td>Bruce Brown</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>43</td>
              <td>Kevin Hervey</td>
              <td>Justin Jackson</td>
              <td>14.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>44</td>
              <td>Manny Suarez</td>
              <td>Issuf Sanon</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>45</td>
              <td>Jarred Vanderbilt</td>
              <td>Hamidou Diallo</td>
              <td>-4.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>46</td>
              <td>Trae Bell-Haynes</td>
              <td>De'Anthony Melton</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>47</td>
              <td>Justin Johnson</td>
              <td>Sviatoslav Mykhailiuk</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>48</td>
              <td>Erick Neal</td>
              <td>Keita Bates-Diop</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>49</td>
              <td>Ajdin Penava</td>
              <td>Chimezie Metu</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>50</td>
              <td>Josh Brown</td>
              <td>Alize Johnson</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>51</td>
              <td>Khalil Small</td>
              <td>Tony Carr</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>52</td>
              <td>Mike Morsell</td>
              <td>Vince Edwards</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>53</td>
              <td>E.C. Matthews</td>
              <td>Devon Hall</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>54</td>
              <td>Keita Bates-Diop</td>
              <td>Shake Milton</td>
              <td>-6.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>55</td>
              <td>Dakota Mathias</td>
              <td>Arnoldas Kulboka</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>56</td>
              <td>Casey Benson</td>
              <td>Ray Spalding</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>57</td>
              <td>Xavier Eaglin</td>
              <td>Kevin Hervey</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>58</td>
              <td>Shep Garner</td>
              <td>Thomas Welsh</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>59</td>
              <td>Chimezie Metu</td>
              <td>George King</td>
              <td>-10.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>60</td>
              <td>Donte Ingram</td>
              <td>Kostas Antetokounmpo</td>
              <td>N/A</td>
            </tr>
          </tbody>
        </table></div>
        
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>2019</h1>
        </div><div class="table-responsive">
          <table class=" table table-striped">
              <thead>
            <tr style="text-align: right;">
              <th>Round</th>
              <th>Pick</th>
              <th>Predicted Player</th>
              <th>Actual Player</th>
              <th>Delta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>1</td>
              <td>Zion Williamson</td>
              <td>Zion Williamson</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>2</td>
              <td>Ignas Brazdeikis</td>
              <td>Ja Morant</td>
              <td>45.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>3</td>
              <td>De'Andre Hunter</td>
              <td>RJ Barrett</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>4</td>
              <td>Darius Garland</td>
              <td>De'Andre Hunter</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>5</td>
              <td>Coby White</td>
              <td>Darius Garland</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>6</td>
              <td>Nick Ward</td>
              <td>Jarrett Culver</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>7</td>
              <td>Cam Reddish</td>
              <td>Coby White</td>
              <td>3.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>8</td>
              <td>Jaquan Dotson</td>
              <td>Jaxson Hayes</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>9</td>
              <td>Lew Stallworth</td>
              <td>Rui Hachimura</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>10</td>
              <td>Jaxson Hayes</td>
              <td>Cam Reddish</td>
              <td>-2.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>11</td>
              <td>Mike Daum</td>
              <td>Cameron Johnson</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>12</td>
              <td>Nick Emery</td>
              <td>P.J. Washington</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>13</td>
              <td>Tyler Herro</td>
              <td>Tyler Herro</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>14</td>
              <td>Alex Copeland</td>
              <td>Romeo Langford</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>15</td>
              <td>Chuma Okeke</td>
              <td>Sekou Doumbouya</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>16</td>
              <td>Caleb Stewart</td>
              <td>Chuma Okeke</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>17</td>
              <td>Nickeil Alexander-Walker</td>
              <td>Nickeil Alexander-Walker</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>18</td>
              <td>Romeo Langford</td>
              <td>Goga Bitadze</td>
              <td>-4.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>19</td>
              <td>Ja Morant</td>
              <td>Luka Šamanić</td>
              <td>-17.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>20</td>
              <td>Brandon Clarke</td>
              <td>Matisse Thybulle</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>21</td>
              <td>Michael Oguine</td>
              <td>Brandon Clarke</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>22</td>
              <td>Grant Williams</td>
              <td>Grant Williams</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>23</td>
              <td>Ty Jerome</td>
              <td>Darius Bazley</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>24</td>
              <td>James Thompson IV</td>
              <td>Ty Jerome</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>25</td>
              <td>James Batemon</td>
              <td>Nassir Little</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>1</th>
              <td>26</td>
              <td>Nassir Little</td>
              <td>Dylan Windler</td>
              <td>-1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>27</td>
              <td>Mfiondu Kabengele</td>
              <td>Mfiondu Kabengele</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>28</td>
              <td>Keldon Johnson</td>
              <td>Jordan Poole</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>29</td>
              <td>Nicolas Claxton</td>
              <td>Keldon Johnson</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th>1</th>
              <td>30</td>
              <td>Matt Rafferty</td>
              <td>Kevin Porter Jr.</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>31</td>
              <td>Carsen Edwards</td>
              <td>Nicolas Claxton</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>32</td>
              <td>Bruno Fernando</td>
              <td>KZ Okpala</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>33</td>
              <td>Devontae Cacok</td>
              <td>Carsen Edwards</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>34</td>
              <td>Aric Holman</td>
              <td>Bruno Fernando</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>35</td>
              <td>Elvin Rodriguez</td>
              <td>Didi Louzada</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>36</td>
              <td>Justin James</td>
              <td>Cody Martin</td>
              <td>4.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>37</td>
              <td>Eric Paschall</td>
              <td>Deividas Sirvydis</td>
              <td>4.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>38</td>
              <td>Admiral Schofield</td>
              <td>Daniel Gafford</td>
              <td>4.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>39</td>
              <td>Jaylen Nowell</td>
              <td>Alen Smailagić</td>
              <td>4.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>40</td>
              <td>Bol Bol</td>
              <td>Justin James</td>
              <td>4.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>41</td>
              <td>Isaiah Walton</td>
              <td>Eric Paschall</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>42</td>
              <td>Isaiah Roby</td>
              <td>Admiral Schofield</td>
              <td>3.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>43</td>
              <td>Talen Horton-Tucker</td>
              <td>Jaylen Nowell</td>
              <td>3.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>44</td>
              <td>Phil Booth</td>
              <td>Bol Bol</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>45</td>
              <td>Joe Sherburne</td>
              <td>Isaiah Roby</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>46</td>
              <td>Evan Fitzner</td>
              <td>Talen Horton-Tucker</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>47</td>
              <td>Quinndary Weatherspoon</td>
              <td>Ignas Brazdeikis</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>48</td>
              <td>Jarrell Brantley</td>
              <td>Terance Mann</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>49</td>
              <td>Levi Bradley</td>
              <td>Quinndary Weatherspoon</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>50</td>
              <td>Tremont Waters</td>
              <td>Jarrell Brantley</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>51</td>
              <td>Jalen McDaniels</td>
              <td>Tremont Waters</td>
              <td>1.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>52</td>
              <td>Matisse Thybulle</td>
              <td>Jalen McDaniels</td>
              <td>-32.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>53</td>
              <td>Justin Wright-Foreman</td>
              <td>Justin Wright-Foreman</td>
              <td>0.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>54</td>
              <td>Brian Beard</td>
              <td>Marial Shayok</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>55</td>
              <td>Mike Cunningham</td>
              <td>Kyle Guy</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>56</td>
              <td>Tayler Persons</td>
              <td>Jaylen Hands</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>57</td>
              <td>Kyle Guy</td>
              <td>Jordan Bone</td>
              <td>-2.0</td>
            </tr>
            <tr>
              <th>2</th>
              <td>58</td>
              <td>Devin Mitchell</td>
              <td>Miye Oni</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>59</td>
              <td>Deishuan Booker</td>
              <td>Dewan Hernandez</td>
              <td>N/A</td>
            </tr>
            <tr>
              <th>2</th>
              <td>60</td>
              <td>Jordan Bone</td>
              <td>Vanja Marinković</td>
              <td>-3.0</td>
            </tr>
          </tbody>
        </table></div>
      </div>      
    </div>
  </div>

</div>



<!-- Container (Contact Section) -->
<!-- <div id="contact" class="container-fluid bg-grey"> -->
  <div id="contact">
    <section class="u-align-center u-clearfix u-section-2" id="sec-85b1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Meet the&nbsp;</h2>
        <h1 class="u-text u-text-2">Slam Dunk Analytics Team</h1>
        <div class="u-list u-repeater u-list-1">
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <div alt="" class="u-image u-image-circle u-image-1" style="background-image:url()"></div>
              <h6 class="u-text u-text-3">Leonard Zhao  </h6>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <div alt="" class="u-image u-image-circle u-image-2" style="background-image:url()"></div>
              <h6 class="u-text u-text-4">Tom Levy</h6>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <div alt="" class="u-image u-image-circle u-image-3" style="background-image:url()"></div>
              <h6 class="u-text u-text-5">Justin Acance</h6>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <div alt="" class="u-image u-image-circle u-image-4" style="background-image:url()"></div>
              <h6 class="u-text u-text-6">Madhav Srivastava</h6>
            </div>
          </div>
        </div>
        <div class="u-social-icons u-spacing-10 u-social-icons-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <a class="u-social-url" target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/leonard-zhao-12677062/"><span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-text-black u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-57d4"></use></svg><svg class="u-svg-content" id="svg-57d4"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Github" href="https://github.com/leonardz17"><span class="u-icon u-icon-circle u-social-github u-social-icon u-text-black u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bbe7"></use></svg><svg class="u-svg-content" id="svg-bbe7"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
  c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
  c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
  c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Email" href="mailto:lzhao178@gmail.com"><span class="u-icon u-icon-circle u-social-email u-social-icon u-text-black u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c319"></use></svg><svg class="u-svg-content" id="svg-c319"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
  c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
  "></path></svg></span>
          </a>
        </div>
        <div class="u-social-icons u-spacing-10 u-social-icons-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <a class="u-social-url" target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/thomas-levy-b79555b4/"><span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-text-black u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4ea6"></use></svg><svg class="u-svg-content" id="svg-4ea6"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Github" href="https://github.com/tlevy77"><span class="u-icon u-icon-circle u-social-github u-social-icon u-text-black u-icon-5"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-988e"></use></svg><svg class="u-svg-content" id="svg-988e"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
  c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
  c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
  c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Email" href="mailto:tomlevy11@gmail.com"><span class="u-icon u-icon-circle u-social-email u-social-icon u-text-black u-icon-6"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4b0c"></use></svg><svg class="u-svg-content" id="svg-4b0c"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
  c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
  "></path></svg></span>
          </a>
        </div>
        <div class="u-social-icons u-spacing-10 u-social-icons-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <a class="u-social-url" target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/jacance/"><span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-text-black u-icon-7"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-245a"></use></svg><svg class="u-svg-content" id="svg-245a"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Github" href="https://github.com/jacance"><span class="u-icon u-icon-circle u-social-github u-social-icon u-text-black u-icon-8"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e7cc"></use></svg><svg class="u-svg-content" id="svg-e7cc"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
  c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
  c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
  c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Email" href="mailto:jacance@gmail.com"><span class="u-icon u-icon-circle u-social-email u-social-icon u-text-black u-icon-9"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9c63"></use></svg><svg class="u-svg-content" id="svg-9c63"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
  c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
  "></path></svg></span>
          </a>
        </div>
        <div class="u-social-icons u-spacing-10 u-social-icons-4" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <a class="u-social-url" target="_blank" title="LinkedIn" href=""><span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-text-black u-icon-10"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5fc7"></use></svg><svg class="u-svg-content" id="svg-5fc7"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Github" href=""><span class="u-icon u-icon-circle u-social-github u-social-icon u-text-black u-icon-11"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fc73"></use></svg><svg class="u-svg-content" id="svg-fc73"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
  c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
  c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
  c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Email" href="mailto:madhavas@gmail.com"><span class="u-icon u-icon-circle u-social-email u-social-icon u-text-black u-icon-12"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b18b"></use></svg><svg class="u-svg-content" id="svg-b18b"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
  c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
  "></path></svg></span>
          </a>
        </div>
      </div>
    </section>
  </div>
  <!-- </div> -->

<!-- Image of location/map -->
<!-- <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%"> -->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
